body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  background-color: #222;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  border: 2px solid #fff;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;

}

input[type="text"] {
  width: calc(100% - 12px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-group {
  display: flex;
  gap: 15px; /* Espaçamento entre os botões */
  margin-top: 20px;
  justify-content: center; /* Centraliza os botões */
}

.button-group button {
  flex-grow: 1; /* Faz os botões crescerem igualmente */
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
/* button-embaralhar senha */
#embaralharBtn {
  background-color: #1763b5;
  color: white;
  box-shadow: 6px 6px 2px 0px  #575555;
  box-shadow: 6px 6px 2px 0px  #AAB7B7;
}

#embaralharBtn:active {
  box-shadow: none;
  transform: translateY(6px);
  top: 10px;
}

.output {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.output input[type="text"] {
  margin-bottom: 10px;
}
/* button-copy */
#copiarBtn {
  background-color: #274D60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 6px 6px 2px 0px  #AAB7B7;
}

#copiarBtn:hover {
  background-color: #6BA3BE;
}
#copiarBtn:active {
  box-shadow: none;
  transform: translateY(6px);
  top: 10px;
}
/* button-refresh */ 
.buttonRefresh {
  position: relative;
  left: 5px;
  width: 140px;
  height: 40px;
  color: white;
  background-color: #37506e;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  cursor: pointer;
  text-align: center;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center; 
  box-shadow: 6px 6px 2px 0px  #AAB7B7;
}

.buttonRefresh:active {
  position: relative;
  top: 10px;
}

.buttonRefresh svg {
  display: inline;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  color: white;
}

.buttonRefresh:focus svg {
  animation: spin_357 0.5s linear;
}
/* Botão de alternar tema */
#themeToggle {
  width: 140px;
  height: 40px;
  background-color: #6c757d;
  background-color: #447087;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 6px 6px 2px 0px  #AAB7B7;
}
#themeToggle.ativo {
  background-color: #28a745;
}

#themeToggle:active {
  box-shadow: none;
  position: relative;
  top: 10px;
}

.dark-theme {
  background-color: #222;
  color: white;
}

.light-theme {
  background-color: #f4f4f4;
  color: black;
}

@keyframes spin_357 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
